@media screen and (max-width:851px) {

    .nav-desktop{
        display:none;
    }
  .nav-mobile{
    display: flex;
  }
  /*=== Header banner section starts here*/
  .banner-content-container{
    padding-top: 95px;
  } 
  .banner-text-container{
    width: 100%;
  }
  .About-us-container{
    justify-self: center;

  }
.About-us-cards-img{
  min-width: 350px;
  height: 285px;
}
.About-us-cards-text{
  width: 90%;
  margin: 20px;
}
}